<a href="https://colab.research.google.com/github/Julianfried/Diplomatura-en-IA-Instituto-Humai/blob/main/Analisis%20de%20Datos/Ejercicios_Indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/institutohumai/cursos-python/blob/master/AnalisisDeDatos/1_Indexing/ejercicio/ejercicio.ipynb"> <img src='https://colab.research.google.com/assets/colab-badge.svg' /> </a>
<div align="center"> Recordá abrir en una nueva pestaña </div>


Para este ejercicio vamos a importar un conjunto de datos con el listado de colegios públicos de Bogotá del año 2016

# Ejercicio I: base de Colegios de Bogotá.

In [2]:
import pandas as pd
import numpy as np

In [ ]:
df_colegios = pd.read_csv('https://www.datos.gov.co/api/views/qijw-htwa/rows.csv?accessType=DOWNLOAD')

In [ ]:
df_colegios.sample(5)

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
387,2016,BOGOTA,PSICOPEDAGOGICO LUMINOSO,URBANA,CL 29 A SUR 37 50,7591346 -- 2025767,LINA MARCELA ALDANA VELEZ,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,sanmafe2003@hotmail.com.es -- jaimecamargomoli...
1090,2016,BOGOTA,JARD INF PIECITOS Y HUELLAS ...,URBANA,CLL. 27A SUR NO.10A-15,2782494,AMANDA QUIÑONES HERRERA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
1605,2016,BOGOTA,LIC FRANCISCO DE ORELLANA,URBANA,CL 50 A SUR 31 69,NaN,MARTHA YOLANDA DAZA RODRIGUEZ,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
341,2016,BOGOTA,COLEGIO INTEGRADA LA CANDELARIA (IED),URBANA,CL 14 1 B 24,2438514 / 3365243,CARLOS ALBERTO CASTELLANOS RUBIO,INSTITUCION EDUCATIVA,NaN,NaN,...,3,NaN,OFICIAL,OFICIAL,NO APLICA,NO,A,NaN,NaN,cedlaconcordia17@redp.edu.co
1670,2016,BOGOTA,INST INGABO SEDE RESTREPO ...,URBANA,KR 17 16 37 SUR,3615950 -- 3610203,CARLOS MAURICIO BAEZ PALENCIA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN

### 1) ¿Cuáles son las columnas? ¿Cuántas filas tiene?

In [ ]:
df_colegios.columns

Index(['año', 'secretaria', 'nombreestablecimiento', 'zona', 'direccion',
       'telefono', 'nombre_Rector', 'tipo_Establecimiento', 'etnias', 'sector',
       'genero', 'niveles', 'jornadas', 'caracter', 'especialidad', 'grados',
       'modelos_Educativos', 'capacidades_Excepcionales', 'discapacidades',
       'idiomas', 'numero_de_Sedes', 'estado', 'prestador_de_Servicio',
       'propiedad_Planta_Fisica', 'resguardo', 'matricula_Contratada',
       'calendario', 'internado', 'estrato_Socio_Economico',
       'correo_Electronico'],
      dtype='object')

In [ ]:
df_colegios.shape[0]

2404

### 2) Seleccionen los colegios donde la propiedad de la planta física sea de una persona natural o comunidad religiosa.

In [ ]:
colegios = df_colegios.query('propiedad_Planta_Fisica == "PERSONA NATURAL" | propiedad_Planta_Fisica == "COMUNIDAD RELIGIOSA"')
colegios

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
0,2016,BOGOTA,INST DE BTO TEC COMERCIAL PITAGORAS ...,URBANA,KR 5 11 67,5665677 / 3429092,YOLANDA ARIAS CRUZ,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,pitagoras@pitagoras.edu.co
1,2016,BOGOTA,GIMNASIO INFANTIL FEDERICO FROEBEL,URBANA,CL 32 SUR 52 A 54,7100349,SANDRA MILENA MENDEZ,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,gimfedebel@hotmail.com
2,2016,BOGOTA,GIMNASIO INFANTIL LOS NIÑOS DEL MAÑANA,URBANA,CL 134 D 47 27,6010350,CLAUDIA BOCACHICA SAENZ,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,claudialindenibocachica@hotmail.com
4,2016,BOGOTA,COL SAN JUAN VIANETH ...,URBANA,KR 2 C 3 18 SUR,2804738 -- 4714934,GLORIA ESPERANZA CHUQUIN LAISECA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,colegiosanjuanviateh@hotmail.com -- colegiosan...
5,2016,BOGOTA,COL SAN PATRICIO ...,URBANA,KR 80 137 02,6838640 -- 6815357,PAULINA ENCINALES DE SANJINES,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,correo@colegiodesanpatricio.edu.co
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,2016,BOGOTA,COLEGIO SAN JOSE DE CALASANZ,URBANA,CL 129 88 B 35,6854492 -- 6854495 -- 6803549,GLADIS CUÉLLAR IBAÑEZ,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,COMUNIDAD RELIGIOSA,COMUNIDAD RELIGIOSA,NO APLICA,NO,A,NaN,NaN,csjcsuba@yahoo.es
2400,2016,BOGOTA,COL NUEVO REINO DE TURINGIA,URBANA,KR 103 B 152 C 34,6830915,RUTH CECILIA CORREA FAJARDO,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,jibnuevoreinodeturingia@hotmail.com - ruth_cec...
2401,2016,BOGOTA,LIC INF GOOFY ...,URBANA,CL 65 F SUR 78 C 32,7761739 / 7762538 / 7753157 /8045802,SANDRA PATRICIA SANTAMARIA OVALLE,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,pattysantaco@yahoo.com directoragoofy@gmail....
2402,2016,BOGOTA,LIC APRENDO CON MIS AMIGOS ...,URBANA,CR. 94 NO.29-30,2671099,YANNETH CONSUELO BOLIVAR GAITAN,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2403,2016,BOGOTA,JARD INF EL ROSAL DE MI INFANCIA ...,URBANA,TR. 56A NO.45-18 SUR,7242172,ADALGIZA LADINO,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,adalgizaladino@hotmail.com ...

### 3) ¿Hay alguno de estos colegios que sea para capacidades excepcionales?

In [ ]:
df_colegios['capacidades_Excepcionales'].value_counts()

CAPACIDADES EXCEPCIONALES                                             6
TALENTO SUBJETIVO/ARTÍSTICO                                           2
TALENTO CIENTIFICO,TALENTO TECNOLOGICO,TALENTO SUBJETIVO/ARTÍSTICO    1
TALENTO CIENTIFICO                                                    1
Name: capacidades_Excepcionales, dtype: int64

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
colegios.query('capacidades_Excepcionales == "CAPACIDADES EXCEPCIONALES"')

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,genero,niveles,jornadas,caracter,especialidad,grados,modelos_Educativos,capacidades_Excepcionales,discapacidades,idiomas,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
263,2016,BOGOTA,COL CAMPESTRE MAXIMINO POITIERS ...,URBANA,KR 92 148 51,6835013 / 6841539 ...,KILIAN ALEXANDER ARENAS SANABRIA,INSTITUCION EDUCATIVA,AMORÚA,NaN,NaN,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",COMPLETA,NaN,ACADÉMICA,"-2,-1,0,1,2,3,4,5,6,7,8,9,10,11",EDUCACIÓN TRADICIONAL,CAPACIDADES EXCEPCIONALES,"DI-COGNITIVO,SÍNDROME DE DOWN",HEBREO,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,kilanarenas@hotmail.com ...
507,2016,BOGOTA,LIC VAL (VIDA-AMOR-LUZ) ...,URBANA,CL 71 C 51 31,2251109 -- 2401331 -- 2502167,LUZ ESPERANZA MORALES SARMIENTO,INSTITUCION EDUCATIVA,NaN,NaN,NaN,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",COMPLETA,NaN,ACADÉMICA,"-2,-1,0,1,2,3,4,5,6,7,8,9,10,11",EDUCACIÓN TRADICIONAL,CAPACIDADES EXCEPCIONALES,"TRANSTORNO DEL ESPECTRO AUTISTA,DI-COGNITIVO,P...",NaN,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,liceo.vida.amor.luz.2@gmail.com
1012,2016,BOGOTA,LIC ECOLOGICO DEL NORTE ...,URBANA,CR. 98A NO.156D-26,6822591 / 6839957 ...,JULIA ALICIA PELAEZ CASTILLO,INSTITUCION EDUCATIVA,NaN,NaN,NaN,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",COMPLETA,NaN,ACADÉMICA,"-1,0,1,2,3,4,5,6,7,8,9,10,11",EDUCACIÓN TRADICIONAL,CAPACIDADES EXCEPCIONALES,"SORDERA PROFUNDA,MÚLTIPLE DISCAPACIDAD,HIPOACU...",INGLÉS,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,semillasverdes@hotmail.com ...
1964,2016,BOGOTA,COL JONATHAN SWIFT ...,URBANA,KR 90 163 30,6818191,DIANA J. MARQUEZ S.,INSTITUCION EDUCATIVA,NaN,NaN,NaN,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",COMPLETA,NaN,ACADÉMICA,"-2,-1,0,1,2,3,4,5,6,7,8,9,10,11",EDUCACIÓN TRADICIONAL,CAPACIDADES EXCEPCIONALES,"SV-BAJA VISIÓN,DI-COGNITIVO,SV-CEGUERA,PARALIS...",INGLÉS,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,COLEGIOJONTHANSWIFT@YAHOO.COM.CO ...
2341,2016,BOGOTA,INST DE PEDAG AUTOACTIVA DE GRUPOS (IPAG) ...,URBANA,KR 8 C 183 32,6711029 -- 6701198,CARMEN TULIA CORDOBA ACOSTA,INSTITUCION EDUCATIVA,NaN,NaN,NaN,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",COMPLETA,NaN,"PEDAGOGICO,OTRO,COMERCIAL,ACADÉMICA","0,1,2,3,4,5,6,7,8,9,10,11,14,15",EDUCACIÓN TRADICIONAL,CAPACIDADES EXCEPCIONALES,"DI-COGNITIVO,LESIÓN NEUROMUSCULAR,OTRA DISCAPA...",NaN,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,colegioipag@gmail.com

### 4) ¿Cuáles son los colegios que ofrecen todos los niveles educativos? ¿Qué idiomas ofrecen?

In [ ]:
df_colegios[['nombreestablecimiento', 'niveles']].sample(5)

,nombreestablecimiento,niveles
1058,GIMN LOS CIPRESES ...,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM..."
1614,COL SAN JUAN BOSCO ...,"MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA"
366,COL FRANCISCANO DEL VIRREY SOLIS ...,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM..."
796,COLEGIO RAMON DE ZUBIRIA (IED),"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM..."
2390,LIC INF LAS FABULAS DE POMBO,PREESCOLAR

In [ ]:
df_colegios['niveles'].value_counts()

PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                     1068
PREESCOLAR,BÁSICA PRIMARIA                                              491
PREESCOLAR                                                              456
MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                                 135
PREESCOLAR,BÁSICA SECUNDARIA,BÁSICA PRIMARIA                             95
MEDIA,BÁSICA SECUNDARIA                                                  81
BÁSICA PRIMARIA                                                          26
PREESCOLAR,BÁSICA SECUNDARIA,MEDIA,BÁSICA PRIMARIA                        9
MEDIA                                                                     6
PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA,PRIMERA INFANCIA       5
PREESCOLAR,MEDIA,BÁSICA PRIMARIA                                          4
PREESCOLAR,MEDIA,BÁSICA SECUNDARIA                                        3
PREESCOLAR,BÁSICA SECUNDARIA                                              3
BÁSICA SECUNDARIA,MEDIA,BÁSICA PRIMARIA                                   2
BÁSICA SECUNDARIA,MEDIA                                                   1
BÁSICA SECUNDARIA,BÁSICA PRIMARIA                                         1
PREESCOLAR,MEDIA                                                          1
MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA,PRIMERA INFANCIA                  1
Name: niveles, dtype: int64

In [ ]:
niveles_completo = 'PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA,PRIMERA INFANCIA'

In [ ]:
df_niveles = df_colegios[df_colegios['niveles'] == niveles_completo]

idiomas = df_niveles[df_niveles['idiomas'].notna()]

df_niveles[['nombreestablecimiento', 'idiomas']]

                                  nombreestablecimiento idiomas
5     COL SAN PATRICIO                              ...  INGLÉS
1031                            INSTITUTO JUAN PABLO II     NaN
1065                   COLEGIO TOMAS CARRASQUILLA (IED)     NaN
1450         COLOMBO BRITANICO - BILINGÜE INTERNACIONAL  INGLÉS
2236                      COLEGIO NUEVO HORIZONTE (IED)     NaN

# Ejercicio II: PyEPH

## PyEPH

La librería Pyeph tiene como objetivo facilitar el procesamiento en Python de las Encuesta Permanente de Hogares (eph) publicadas por INDEC de forma periódica. Está pensada como un espacio donde se nuclean y centralizan los cálculos vinculados a las mismas para posteriormente ser utilizadas en investigaciones, artículos, publicaciones, etc. Es una librería que hace principal hincapié en la transparencia metodológica utilizando licencias de código abierto y que promueve la colaboración de las comunidades de cientístas de datos, sociales, investigadorxs, desarrolladorxs, periodistas y demás curiosxs.

https://github.com/institutohumai/pyeph

Para entender qué representan las columnas ver documentación:


https://www.indec.gob.ar/ftp/cuadros/menusuperior/eph/EPH_diseno_reg_t414.pdf

In [1]:
# Instalamos la librería.

!pip install pyeph -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.5/64.5 kB 2.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 150.6/150.6 kB 5.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 29.5 MB/s eta 0:00:00
  Building wheel for wget (setup.py) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires ipykernel~=5.5.6, but you have ipykernel 6.23.0 which is incompatible.

In [3]:
import pyeph

In [4]:
# Ejemplo: traemos el 2do trimestre del 2021
eph = pyeph.get(data="eph", year=2021, period=2, base_type='individual') # EPH individual

Obtenido con exito: base_individual_2021T2.zip

In [5]:
print(eph.shape)
eph.columns

(47085, 177)

Index(['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15',
       'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA',
       ...
       'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR',
       'PDECCFR', 'ADECCFR', 'PONDIH'],
      dtype='object', length=177)

**Primer paso.** Crear una variable llamada eph_2 que contenga las siguientes columnas para realizar el siguiente análisis:

Edad (**CH_06**), Sexo (**CH_04**), Ingreso de la ocupación principal (**P21**), Categoría ocupacional (**CAT_OCUP**), Condición de actividad (ESTADO), Ponderación (**PONDERA**)

Referencias:

Sexo:
*   01 = Varón 
*   02 = Mujer

Categoría ocupacional (para ocupados y desocupados con
ocupación anterior):
*   1 = Patrón
*   2 = Cuenta propia
*   3 = Obrero o empleado
*   4 = Trabajador familiar sin remuneración
*   9 = Ns/Nr

Estado - Condición de actividad:
*   0 = Entrevista individual no realizada
*   1 = Ocupado 
*   2 = Descoupado
*   3 = Inactivo
*   4 = menor de 10 años

In [6]:
#Filtramos por columnas
eph_2=eph[["CH06", "CH04", "P21", "CAT_OCUP", "ESTADO", "PONDERA"]]

In [7]:
#Renombramos columnas
eph_2.columns=["edad", "sexo", "ingreso", "cat_ocup", "estado", "pondera"]

La columna **pondera** representa un estimado poblacional de las personas que representa cada fila. Por lo tanto, para cada cálculo es necesario operar con esa columna. Por ejemplo, la fila 0 representa a 214 personas de 58 años de sexo masculino, que tienen $50.000 de ingreso de la ocupación principal, su categoría es cuentapropista y pertenecen al segmento de ocupados.

In [ ]:
eph_2.head()

   edad  sexo  ingreso  cat_ocup  estado  pondera
0    58     1    50000         2       1      214
1    24     1        0         3       2      214
2    51     2        0         4       1      192
3    27     1     4000         2       1      192
4    18     1        0         0       3      192

### a) Traer un dataframe que filtre solo a las personas que tengan 21 años o menos.

In [8]:
eph_2.query('edad <= 21')

       edad  sexo  ingreso  cat_ocup  estado  pondera
4        18     1        0         0       3      192
8         5     1        0         0       4      250
11       19     2        0         0       3      250
12       17     1        0         0       3      250
13       14     1        0         0       3      250
...     ...   ...      ...       ...     ...      ...
47070    15     2        0         0       3       46
47071    13     1        0         0       3       46
47074     8     1        0         0       4       49
47077    10     1        0         0       3      111
47084    20     1     4000         2       1      230

[15192 rows x 6 columns]

### b) Traer un dataframe que filtre a las personas desocupadas de más de 40 años.

In [10]:
eph_2.query("edad > 40 & estado == 2")

       edad  sexo  ingreso  cat_ocup  estado  pondera
47       58     2        0         3       2      915
77       41     1        0         2       2      139
92       45     1        0         3       2      127
357      42     1        0         3       2     1086
433      48     2        0         3       2      626
...     ...   ...      ...       ...     ...      ...
46276    54     1        0         2       2      593
46350    49     1        0         3       2      307
46447    72     1        0         2       2      232
46599    49     2        0         3       2      311
46715    49     2        0         3       2      215

[503 rows x 6 columns]

### c) ¿Cuántas mujeres hay en la base de datos? ¿Y hombres?

In [12]:
varones = eph_2[eph_2['sexo'] == 1]
mujeres = eph_2[eph_2['sexo'] == 2]

print('El total de varones es:', varones['pondera'].sum())
print('El total de mujeres es:', mujeres['pondera'].sum())

El total de varones es: 14038615
El total de mujeres es: 14833824

### d) ¿Cuál era la tasa de desocupación en el período seleccionado para las mujeres? ¿Era más alta o más baja que la de los hombres? (Extra: pensar el resultado usando una función)

Nota: la tasa se calcula como Desocupados / (Ocupados + Desocupados)

In [13]:
def obtener_tasa_desocupacion(df):
  ocupados = df[df['estado'] == 1]
  desocupados = df[df['estado'] == 2]
  total_ocupados = ocupados['pondera'].sum()
  total_desocupados = desocupados['pondera'].sum()

  return round(total_desocupados/(total_desocupados + total_ocupados) * 100, 3)

print('La tasa de desocupacion total es:', obtener_tasa_desocupacion(eph_2))

tasa_varones = obtener_tasa_desocupacion(varones)
tasa_mujeres = obtener_tasa_desocupacion(mujeres)

print('La tasa de desocupaciones de varones es:', tasa_varones)
print('La tasa de desocupaciones de mujeres es:', tasa_mujeres)

if tasa_varones > tasa_mujeres:
  print('La tasa de varones es mayor')
else:
  print('La tasa de mujeres es mayor')

La tasa de desocupacion total es: 9.601
La tasa de desocupaciones de varones es: 9.006
La tasa de desocupaciones de mujeres es: 10.387
La tasa de mujeres es mayor

### e) Traer un dataframe que filtre a las personas ocupadas de más de 18 años y menores a 65 años.
- Obtener el promedio de ingresos
- Obtener el salario maximo ¿Cuál es su categoria ocupacional?
- Obtener el salario minimo ¿Cuál es su categoria ocupacional?

Nota: el promedio debe ser un promedio ponderado

$p_i = pondera \mid peso$

$v_i = valor$

Para facilitar el ejercicio se recomienda crea con el salario total por registro: 

\begin{align} salarioTot = v_i \cdot p_i \end{align}

Formula general:
\begin{align}
    Promedio Pond &= \frac{\sum_{i=1}^n v_i \cdot p_i}{\sum_{i=1}^n p_i } =  \frac{\sum_{i=1}^n salarioTot_i}{\sum_{i=1}^n p_i }\\
\end{align}

Ejemplo con 3 elementos:

\begin{align}
    Promedio Pond &= \frac{v_1 p_1 + v_2 p_2 + v_3 p_3}{p_1 + p_2 + p_3}.
\end{align}

In [25]:
personas = eph_2.query('18 < edad < 65')

personas['salario_total'] = personas['ingreso'] * personas['pondera']

ocupaciones = {
  1: 'Patrón',
  2: 'Cuenta propia',
  3: 'Obrero o empleado',
  4: 'Trabajador familiar sin remuneración',
  9: 'Ns/Nr'
}
salario_total = personas[personas['salario_total'] > 0].copy()
promedio_ponderado = salario_total['salario_total'].sum()/salario_total['pondera'].sum()
print('El promedio ponderado es:', round(promedio_ponderado, 2))

salario_max = personas['ingreso'].max()
cat_max = salario_total.loc[salario_total['ingreso'].idxmax(), 'cat_ocup']
salario_min = personas['ingreso'].min()
cat_min = salario_total.loc[salario_total['ingreso'].idxmin(), 'cat_ocup']

print(f'El salario maximo es de {salario_max} pesos y su ocupacion es {ocupaciones[cat_max]}')
print(f'El salario minimo es de {salario_min} pesos y su ocupacion es {ocupaciones[cat_min]}')

El promedio ponderado es: 44155.6
El salario maximo es de 800000 pesos y su ocupacion es Obrero o empleado
El salario minimo es de -9 pesos y su ocupacion es Obrero o empleado

<ipython-input-25-469d10e54880>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  personas['salario_total'] = personas['ingreso'] * personas['pondera']

### f) Repetir el `ejercicio e`, ahora utilizando 2 dataframes:
- Las personas entre 18 y 30 años `df_jovenes_adultos`.
- Las personas entre 30 y 65 años `df_adultos`.

¿Observas alguna diferencia?

In [30]:
def promedio_pond(original):
  df = original.copy()
  df['salario_total'] = df['ingreso'] * df['pondera']
  promedio_pond = df['salario_total'].sum() / df['pondera'].sum()

  return round(promedio_pond, 3)

def ingresos_max_min(original):
  df = original.copy()

  salario_max = personas['ingreso'].max()
  cat_max = salario_total.loc[salario_total['ingreso'].idxmax(), 'cat_ocup']
  salario_min = personas['ingreso'].min()
  cat_min = salario_total.loc[salario_total['ingreso'].idxmin(), 'cat_ocup']

  return salario_max, ocupaciones[cat_max], salario_min, ocupaciones[cat_min]

df_jovenes_adultos = salario_total[(salario_total['edad'] >= 18) & (salario_total['edad'] < 30)]
df_adultos = salario_total[(salario_total['edad'] >= 30) & (salario_total['edad'] < 65)]

print('Jovenes adultos')
print('El promedio ponderado es:', promedio_pond(df_jovenes_adultos))

salario_max, cat_max, salario_min, cat_min = ingresos_max_min(df_jovenes_adultos)
print(f'El salario maximo es de {salario_max} pesos y su ocupacion es {cat_max}', )
print(f'El salario minimo es de {salario_min} pesos y su ocupacion es {cat_min}', )


print('-' * 80)
print('Adultos')
print('El promedio ponderado es:', promedio_pond(df_adultos))

salario_max, cat_max, salario_min, cat_min = ingresos_max_min(df_adultos)
print(f'El salario maximo es de {salario_max} pesos y su ocupacion es {cat_max}', )
print(f'El salario minimo es de {salario_min} pesos y su ocupacion es {cat_min}', )

Jovenes adultos
El promedio ponderado es: 30394.33
El salario maximo es de 800000 pesos y su ocupacion es Obrero o empleado
El salario minimo es de -9 pesos y su ocupacion es Obrero o empleado
--------------------------------------------------------------------------------
Adultos
El promedio ponderado es: 47943.989
El salario maximo es de 800000 pesos y su ocupacion es Obrero o empleado
El salario minimo es de -9 pesos y su ocupacion es Obrero o empleado

### g) Obtener la tasa de desocupación para `df_jovenes_adultos` y `df_adultos`. 
¿Cuál es la mas alta?

In [31]:
des_jovenes = obtener_tasa_desocupacion(df_jovenes_adultos)
des_adultos = obtener_tasa_desocupacion(df_adultos)
des_mayor = 'jovenes' if des_jovenes > des_adultos else 'adultos'

print(f'La tasa mas alta es la de los {des_mayor}.')
print('La tasa de desocupacion de los jovenes es:', des_jovenes)
print('La tasa de desocupacion de los adultos es:', des_adultos)

La tasa mas alta es la de los adultos.
La tasa de desocupacion de los jovenes es: 0.0
La tasa de desocupacion de los adultos es: 0.0